name: Build and Release ESP32 Firmware (No Cloudflare)

on:
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - board: NERDQAXEPLUS
            upload_www: true
            label: NerdQAxe+
          - board: NERDOCTAXEPLUS
            upload_www: false
            label: NerdOCTAXE+
          - board: NERDQAXEPLUS2
            upload_www: false
            label: NerdQAxe++
          - board: NERDAXE
            upload_www: false
            label: NerdAxe
          - board: NERDOCTAXEGAMMA
            upload_www: false
            label: NerdOCTAXE-Gamma
          - board: NERDAXEGAMMA
            upload_www: false
            label: NerdAxeGamma
          - board: NERDHAXEGAMMA
            upload_www: false
            label: NerdHaxe-Gamma
          - board: NERDEKO
            upload_www: false
            label: NerdEKO
          - board: NERDQX
            upload_www: false
            label: NerdQX

    steps:
    - uses: actions/checkout@v3

    - name: Get Version Tag
      run: |
        git fetch --tags
        version=$(git describe --tags --abbrev=0 2>/dev/null || git rev-parse --short HEAD)
        echo "VERSION_TAG=$version" >> $GITHUB_ENV

    - name: Install GitHub CLI
      run: |
        sudo apt-get update -y
        sudo apt-get install -y gh

    - name: Check if release exists
      run: |
        if gh release view "${{ env.VERSION_TAG }}" >/dev/null 2>&1; then
          echo "RELEASE_EXISTS=true" >> $GITHUB_ENV
        else
          echo "RELEASE_EXISTS=false" >> $GITHUB_ENV
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Insert Version
      run: |
        COMMIT_HASH=$(git rev-parse --short HEAD)
        sed -e "s|__COMMIT__|${COMMIT_HASH}|g" -i ./main/http_server/axe-os/src/app/app.module.ts
        for l in de en es fr; do
          mv "./main/http_server/axe-os/src/assets/i18n/${l}.json" "./main/http_server/axe-os/src/assets/i18n/${l}.${COMMIT_HASH}.json"
        done

    - name: Set Target
      run: |
        docker run --rm --user root -e BOARD=${{ matrix.board }} -v $PWD:/home/builder/project \
        shufps/esp-idf-builder:0.0.1 idf.py set-target esp32s3

    - name: Compile Binaries
      run: |
        docker run --rm --user root -e BOARD=${{ matrix.board }} -v $PWD:/home/builder/project \
        shufps/esp-idf-builder:0.0.1 idf.py build

    - name: Merge Binaries
      run: |
        if [ "${{ matrix.upload_www }}" == "true" ]; then
          WWW_BIN="0x410000 build/www.bin"
        else
          WWW_BIN=""
        fi

        docker run --rm --user root -v $PWD:/home/builder/project \
        shufps/esp-idf-builder:0.0.1 esptool.py --chip esp32s3 merge_bin --flash_mode dio --flash_size 16MB --flash_freq 80m \
        0x0 build/bootloader/bootloader.bin \
        0x8000 build/partition_table/partition-table.bin \
        0x10000 build/esp-miner.bin \
        $WWW_BIN \
        0xf10000 build/ota_data_initial.bin \
        -o esp-miner-factory-${{ matrix.label }}-${{ env.VERSION_TAG }}.bin

    - name: Generate SHA-256
      run: sha256sum esp-miner-factory-${{ matrix.label }}-${{ env.VERSION_TAG }}.bin > esp-miner-factory-${{ matrix.label }}-${{ env.VERSION_TAG }}.sha256

    - uses: actions/upload-artifact@v4
      with:
        name: sha256-${{ matrix.label }}
        path: esp-miner-factory-${{ matrix.label }}-${{ env.VERSION_TAG }}.sha256

    - name: Fix permissions
      run: sudo chown -R $USER:$USER build

    - name: Rename Build Artifacts
      run: |
        mv build/esp-miner.bin build/esp-miner-${{ matrix.label }}.bin
        mv build/esp-miner.elf build/esp-miner-${{ matrix.label }}.elf

    # Upload all firmware files
    - uses: actions/upload-artifact@v4
      with:
        name: esp-miner-${{ matrix.label }}
        path: |
          build/esp-miner-${{ matrix.label }}.bin
          build/esp-miner-${{ matrix.label }}.elf
          esp-miner-factory-${{ matrix.label }}-${{ env.VERSION_TAG }}.bin

    - name: Upload www.bin if applicable
      if: matrix.upload_www == true
      uses: actions/upload-artifact@v4
      with:
        name: www.bin
        path: build/www.bin
