name: Build and Release ESP32 Firmware

on:
  workflow_dispatch:  # Manual trigger only

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - board: NERDQAXEPLUS
            upload_www: true
            label: NerdQAxe+
          - board: NERDOCTAXEPLUS
            upload_www: false
            label: NerdOCTAXE+
          - board: NERDQAXEPLUS2
            upload_www: false
            label: NerdQAxe++
          - board: NERDAXE
            upload_www: false
            label: NerdAxe
          - board: NERDOCTAXEGAMMA
            upload_www: false
            label: NerdOCTAXE-Gamma
          - board: NERDAXEGAMMA
            upload_www: false
            label: NerdAxeGamma
          - board: NERDHAXEGAMMA
            upload_www: false
            label: NerdHaxe-Gamma
          - board: NERDEKO
            upload_www: false
            label: NerdEKO
          - board: NERDQX
            upload_www: false
            label: NerdQX

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Get Version Tag
      id: version_tag
      run: |
        git fetch --tags
        version=$(git describe --tags --abbrev=0 2>/dev/null || git rev-parse --short HEAD)
        echo "VERSION_TAG=${version}" >> $GITHUB_ENV
        echo "${version}" > version.txt
        echo "VERSION_TAG=${version}"

    - name: Install GitHub CLI
      run: |
        sudo apt-get update -y
        sudo apt-get install -y gh

    - name: Check if release exists
      id: check_release
      run: |
        if gh release view "${{ env.VERSION_TAG }}" >/dev/null 2>&1; then
          echo "RELEASE_EXISTS=true" >> $GITHUB_ENV
        else
          echo "RELEASE_EXISTS=false" >> $GITHUB_ENV
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Insert Version
      run: |
        #!/bin/bash
        set -e
        COMMIT_HASH=$(git rev-parse --short HEAD)
        sed -e "s|__COMMIT__|${COMMIT_HASH}|g" -i ./main/http_server/axe-os/src/app/app.module.ts
        for l in de en es fr; do
          mv "./main/http_server/axe-os/src/assets/i18n/${l}.json" "./main/http_server/axe-os/src/assets/i18n/${l}.${COMMIT_HASH}.json"
        done

    - name: Set Target
      run: |
        docker run --rm --user root -e BOARD=${{ matrix.board }} -v $PWD:/home/builder/project \
        shufps/esp-idf-builder:0.0.1 idf.py set-target esp32s3

    - name: Compile Binaries
      run: |
        docker run --rm --user root -e BOARD=${{ matrix.board }} -v $PWD:/home/builder/project \
        shufps/esp-idf-builder:0.0.1 idf.py build

    - name: Merge Binaries
      run: |
        docker run --rm --user root -v $PWD:/home/builder/project \
        shufps/esp-idf-builder:0.0.1 esptool.py --chip esp32s3 merge_bin --flash_mode
